{% include 'header.html' %}

        <!-- MAIN CONTENT -->
        <div class="no-padding content-area no-sidebar">
 			<div class="container-fluid">
                <div class="row">
                    <main id="main" class="col-md-12 site-main main-content mt_background_white">
                        <article class="page type-page status-publish hentry">
                            <div class="entry-content">
								<div id="primary" class="content-area">
								    <div class="container blog-posts site-main">
								        <div class="col-md-12 main-content">
								            <section class="error-404 not-found">
								                <header class="page-header-404">
								                    <div class="high-padding">
								                        <img class="aligncenter" src="images/404.png" alt="Not Found">
								                        <h2 class="page-title text-center mt_404_color mt_fond_bold">Sorry, this page does not exist</h2>
								                        <h3 class="page-title text-center mt_404_color">The link you clicked might be corrupted, or the page may have been removed.</h3>
								                    </div>
								                </header>
								            </section>
								        </div>
								    </div>
								</div>
                            </div>
                        </article>
                    </main>
                </div>
            </div>
        </div>
{% include 'footer.html' %}
