{% include 'header.html' %}

        <!-- SLIDER -->
        <div class="item">
            <img src='{{url_for("static",filename="images/about-us.jpg")}}' class="mt_width_100" alt="About US">
        </div>
        <div class="carousel-caption mt_top_25">
            <h1 class="mt_font_size_50">ABOUT US</h1>
            <p class="mt_font_size_20">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do diam eiusmod tempor magna aliqua sed et enim ad minim veniam, quis nostrud.</p>
        </div>        



        <!-- MAIN CONTENT -->
        <div class="no-padding content-area no-sidebar">
            <div class="container-fluid">
                <div class="row">
                    <main class="site-main main-content">
                        <article class="page type-page status-publish hentry">
                            <div class="entry-content">


                                <!-- SECTION: About US -->
                                <div data-vc-full-width="true" data-vc-full-width-init="true" class=" row high-padding mt_custom_aboutus">
                                    <div class="col-sm-12 col-md-12">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-4 col-md-4">
                                                    <div class="column-inner">
                                                        <h5 class=" custom_heading animate_when_almost_visible fadeInLeft fadeInLeft start_animation animated mt_font_size_25">ABOUT US</h5>
                                                        <h2 class=" custom_heading animate_when_almost_visible fadeInLeft fadeInLeft start_animation animated mt_font_size_40">Yankee Insurance </h2>
                                                    </div>
                                                </div>
                                                <div class="col-sm-8 col-md-8">
                                                    <div class="column-inner">
                                                        <div class="text_column content_element  animate_when_almost_visible fadeInRight fadeInRight about-me-home2 start_animation animated">
                                                            <p><span><strong>Sed ut perspiciatis unde omnis iste natus</strong> error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. <strong>Nemo enim ipsam voluptatem</strong> quia voluptas sit aspernatur aut odit aut fugit, sed quia <strong>consequuntur magni dolores</strong> eos qui ratione. Ut enim ad minima eniam, quis <strong>nostrum exercitationem ullam</strong> corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur</span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row high-padding">
                                                <div class="container col-sm-12">
                                                    <div class="column-inner">
                                                        <div class="text_column content_element  animate_when_almost_visible appear appear start_animation animated">
                                                            <p><em><span>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. <strong>Neque porro quisquam est</strong>, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum <strong>exercitationem ullam corporis suscipit laboriosam</strong>, nisi ut aliquid ex ea commodi consequatur.</span></em>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- SECTION: SKILLS COUNTERS -->
                            <div class="row-full-width clearfix"></div>
                            <div data-vc-full-width="true" data-vc-full-width-init="false" class="container mt_margin_bottom_80">
                                <!-- <div class="col-sm-3 col-md-3">
                                    <div class="column-inner ">
                                        <div class="row">
                                            <div data-percent="84" data-text="" class="green medium light mt_circle"></div>
                                            <h3 class="custom_heading mt_custom_heading mt_font_services_color">Satisfied Customers</h3>
                                            <div class="custom_heading mt_custom_perspiciatis">Sed ut perspiciatis unde</div>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- <div class="col-sm-3 col-md-3">
                                    <div class="column-inner">
                                        <div class="row">
                                            <div data-percent="75" data-text="" class="green medium light mt_circle"></div>
                                            <h3 class="custom_heading mt_custom_heading mt_font_services_color">Resolved cases<br />
                                            </h3>
                                            <div class="custom_heading mt_custom_perspiciatis">Sed ut perspiciatis unde</div>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- <div class="col-sm-3 col-md-3">
                                    <div class="column-inner">
                                        <div class="row">
                                            <div data-percent="90" data-text="" class="green medium light mt_circle"></div>
                                            <h3 class="custom_heading mt_custom_heading mt_font_services_color">Businesses Growing</h3>
                                            <div class="custom_heading mt_custom_perspiciatis">Sed ut perspiciatis unde</div>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- <div class="col-sm-3 col-md-3">
                                    <div class="column-inner ">
                                        <div class="row">
                                            <div data-percent="85" data-text="" class="green medium light mt_circle"></div>
                                            <h3 class="custom_heading mt_custom_heading mt_font_services_color">Satisfied Customers</h3>
                                            <div class="custom_heading mt_custom_perspiciatis">Sed ut perspiciatis unde</div>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- <div>
                                    <p>Montant: <span id="montant"></span></p>
                                  </div>
                                  <div class="slideContainer">
                                  <div style="margin-bottom: 80px">
                                    <input type="range" min="1" max="12" value="0" id="myRange" class="slider">
                                    <p>Mois: <span id="value"></span></p>
                                  </div>
                                  <div>
                                      <input type="range" min="3" max="25" value="0"  id="slider1">
                                      <p>CV: <span id="value1"></span></p>
                                  </div>
                                </div> -->
                            </div>



                            <!-- SECTION: PARALLAX -->
                            <div class="clearfix"></div>
                            <div class="container-fluid">
                                <section id="parallax_pricing" class="parallax mt_video_align mt_margin_left_5">
                                    <div data-vc-full-width="true" data-vc-full-width-init="true" class="row mt_video_style ">
                                        <div class="col-sm-12 col-md-12">
                                            <div class="container">
                                                <div class="mt_video text-center row">
                                                    <div class="wow fadeInUp">
                                                        <a class="popup-vimeo-video" href="#">
                                                            <img class="buton_image_class" src='{{url_for("static",filename="images/Untitled-2.png")}}' alt="" > 
                                                        </a>
                                                    </div>
                                                </div>
                                                <h1 class="custom_heading appear mt_custom_market">Market Analytics</h1>
                                                <h3 class="custom_heading bottom-to-top bottom-to-top mt_custom_lorem light_subtitle mt_analytics_style mt_width_95">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do diam eiusmod tempor
                                                magna aliqua sed ut enim ad minim veniam, quis nostrud.</h3>
                                            </div>                  
                                        </div>
                                    </div>
                                </section>
                            </div>


                            <!-- SECTION: PRICING TABLES -->
                            <div class="clearfix"></div>
                            <div data-vc-full-width="true" data-vc-full-width-init="false" class="container high-padding ">
                                <div class="col-md-12 col-sm-12 container">
                                    <div class="col-sm-4 col-md-4">
                                        <div class="row">
                                            <div class="pricing-section wow bounce">
                                                <div class="pricing pricing--pema">
                                                    <div class="pricing__item pricing__item--nofeatured">
                                                        <h3 class="pricing__title">BASIC PLAN</h3>
                                                            <p class="pricing__sentence">BASIC PLAN</p>
                                                        <div class="pricing__price">
                                                            <span class="pricing__currency">$</span>19
                                                            <span class="pricing__period">/ month</span>
                                                        </div>
                                                        <ul class="pricing__feature-list">
                                                            <li class="pricing__feature">Analyzes</li>
                                                            <li class="pricing__feature">60 min</li>
                                                            <li class="pricing__feature">1 Time per Week</li>
                                                            <li class="pricing__feature">2 Solutions</li>
                                                        </ul>
                                                        <a class="pricing__action" href="#">GET STARTED</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                        <div class="row">
                                            <div class="pricing-section wow bounce">
                                                <div class="pricing pricing--pema">
                                                    <div class="pricing__item pricing__item--featured">
                                                        <h3 class="pricing__title">STANDARD PLAN</h3>
                                                            <p class="pricing__sentence">STANDARD PLAN</p>
                                                            <div class="pricing__price">
                                                                <span class="pricing__currency">$</span>81
                                                                <span class="pricing__period">/ month</span>
                                                        </div>
                                                        <ul class="pricing__feature-list">
                                                            <li class="pricing__feature">Analyzes</li>
                                                            <li class="pricing__feature">120 min</li>
                                                            <li class="pricing__feature">2 Time per Week</li>
                                                            <li class="pricing__feature">3 Solutions</li>
                                                            <li class="pricing__feature">Custom Logo</li>
                                                        </ul>
                                                        <a class="pricing__action" href="#">GET STARTED</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                         <div class="row">
                                            <div class="pricing-section wow bounce">
                                                <div class="pricing pricing--pema">
                                                    <div class="pricing__item pricing__item--nofeatured">
                                                        <h3 class="pricing__title">BUSINESS PLAN</h3>
                                                        <p class="pricing__sentence">BUSINESS PLAN</p>
                                                        <div class="pricing__price">
                                                            <span class="pricing__currency">$</span>51
                                                            <span class="pricing__period">/ month</span>
                                                        </div> 
                                                        <ul class="pricing__feature-list">
                                                            <li class="pricing__feature">Analyzes</li>
                                                            <li class="pricing__feature">150 min</li>
                                                            <li class="pricing__feature">3 Time per Week</li>
                                                            <li class="pricing__feature">4 Solutions</li>
                                                        </ul>
                                                        <a class="pricing__action" href="#">GET STARTED</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                      
                                    </div>
                                </div>
                            </div>


                            <!-- SECTION: MEMBERS -->
                            <div class="clearfix"></div>
                            <div data-vc-full-width="true" data-vc-full-width-init="false" class="container">
                                <div class="col-sm-12 col-md-12 mt_members_align">
                                    <div class="column-inner">
                                        <div class="row mt_margin_right_30">
                                            <h1 class="custom_heading mt_custom_our">Our Experts Team</h1>
                                            <h3 class="custom_heading bottom-to-top mt_custom_lorem2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do diam eiusmod tempor<br/> magna aliqua sed ut enim ad minim veniam, quis nostrud.</h3>
                                        </div>
                                        <div class="mt_members1 mt_slider_members owl-carousel row owl-theme animateIn wow bounce high-padding mt_margin_0">
                                            <div class="item col-md-12 relative">
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <div class="members_img_holder post-details">
                                                            <div class="memeber01-img-holder">
                                                                <img src='{{url_for("static",filename="images/theme_yankee_member2.jpg")}}' alt="Will Wyatt"/>
                                                            </div>
                                                            <div class="member01-content">
                                                                <div class="member01-content-inside">
                                                                    <h3 class="member01_name">Will Wyatt</h3>
                                                                    <p class="member01_content-desc">Lorem ipsum dolor sit amet, consectetur adipiscing dolor sit elit, sed do diam eiusmod tempor magna aliqua sed ut enim ad minim veniam, quis nostrud.</p>
                                                                    <h4 class="member01_position">Lead Consultant</h4>
                                                                    <a href="#" class="member01_button mt_custom_member"></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item col-md-12 relative">
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <div class="members_img_holder post-details">
                                                            <div class="memeber01-img-holder">
                                                                <img src='{{url_for("static",filename="images/theme_yankee_member1.jpg")}}' alt="John Smith" />
                                                            </div>
                                                            <div class="member01-content">
                                                                <div class="member01-content-inside">
                                                                    <h3 class="member01_name">John Smith</h3>
                                                                    <p class="member01_content-desc">Lorem ipsum dolor sit amet, consectetur adipiscing dolor sit elit, sed do diam eiusmod tempor magna aliqua sed ut enim ad minim veniam, quis nostrud.</p>
                                                                    <h4 class="member01_position">Senior Consultant</h4>
                                                                    <a href="#" class="member01_button mt_custom_member"></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item col-md-12 relative">
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <div class="members_img_holder post-details">
                                                            <div class="memeber01-img-holder">
                                                                <img src='{{url_for("static",filename="images/theme_yankee_member3.jpg")}}' alt="Amanda Wyatt" />
                                                            </div>
                                                            <div class="member01-content">
                                                                <div class="member01-content-inside">
                                                                    <h3 class="member01_name">Amanda Wyatt</h3>
                                                                    <p class="member01_content-desc">Lorem ipsum dolor sit amet, consectetur adipiscing dolor sit elit, sed do diam eiusmod tempor magna aliqua sed ut enim ad minim veniam, quis nostrud.</p>
                                                                    <h4 class="member01_position">Junior Consultant</h4>
                                                                    <a href="#" class="member01_button mt_custom_member"></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item col-md-12 relative">
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <div class="members_img_holder post-details">
                                                            <div class="memeber01-img-holder">
                                                                <img src='{{url_for("static",filename="images/theme_yankee_member2.jpg")}}' alt="Patrick stewart" />
                                                            </div>
                                                            <div class="member01-content">
                                                                <div class="member01-content-inside">
                                                                    <h3 class="member01_name">Patrick stewart</h3>
                                                                    <p class="member01_content-desc">
                                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing dolor sit elit, sed do diam eiusmod tempor magna aliqua sed ut enim ad minim veniam, quis nostrud.</p>
                                                                    <h4 class="member01_position">Director</h4>
                                                                    <a href="#" class="member01_button mt_custom_member"></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- SECTION: Subscribe  -->
                            <div class="clearfix"></div>
                            <div data-vc-full-width="true" data-vc-full-width-init="true" class="container-fluid mt_subscribe_button_style col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="container mt_padding_top_45">
                                        <div class="col-sm-6 col-md-6 mt_bottom_5">
                                            <div class="column-inner ">
                                                <h2 class="custom_heading fadeInLeft mt_custom_subscribe">Subscribe to our newsletter</h2>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6">
                                            <div class="column-inner ">
                                                <div class="mc_embed_signup animateIn animated fadeInRight" data-animate="fadeInRight">
                                                    <div class="email">
                                                        <form class="subscribe" method="POST">
                                                            <input type="text" placeholder="Email Address" name="mailchimp_email" class="emaddress" data-validate="validate(required, email)">
                                                            <button class="btn-warning rippler rippler-default subscribe" name="submit_mailchimp" type="submit">Subscribe</button>
                                                            <span class="result section-description"></span>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>      
                                </div>
                            </div>
                        </article>
                    </main>
                </div>
            </div>
        </div>

{% include 'footer.html' %}