{% include 'header.html' %}
        <style>
            .slider::after{
                content: '12';
                color: black;
                font-size: 2rem;
                position: absolute;
                left: 47%;
                top: 40%;
            }
            .slider::before{
            content: '1';
            color: black;
            font-size: 2rem;
            position: absolute;
            left: 3%;
            top: 40%;
            }
            #slider1::after{
            content: '25';
            color: black;
            font-size: 2rem;
            position: absolute;
            left: 47%;
            top: 73%;
            }

            #slider1::before{
                content: '3';
                color: black;
                font-size: 2rem;
                position: absolute;
                left: 3%;
                top: 73%;
            }

            .slider{
                -webkit-appearance: none;
                width: 100%;
                height: 12px;
                background: linear-gradient(90deg, rgb(214,214,214) 60%, rgb(214,214,214) 60%);
                outline: none;
                opacity: 0.7;
                -webkit-transition: 0.2s;
                transition: opacity 0.2s;
                border-radius: 12px;
                box-shadow: 0px 1px 10px 1px black; 
            }

            .slider:hover{
                opacity: 1;
            }

            .slider::-webkit-slider-thumb{
                -webkit-appearance: none;
                appearance: none;
                width: 20px;
                height: 20px;
                background: white;
                border-radius: 50%;
                cursor: pointer; 
            }

            .slider::-moz-range-thumb{
                width: 40px;
                height: 40px;
                background: white;
                border-radius: 50%;
                cursor: pointer;  
            }
            #slider1{
            -webkit-appearance: none;
            width: 100%;
            height: 12px;
            background: linear-gradient(90deg, rgb(214,214,214) 60%, rgb(214,214,214) 60%);
            outline: none;
            opacity: 0.7;
            -webkit-transition: 0.2s;
            transition: opacity 0.2s;
            border-radius: 12px;
            box-shadow: 0px 1px 10px 1px black; 
            }

            #slider1:hover{
                opacity: 1;
            }

            #slider1::-webkit-slider-thumb{
                -webkit-appearance: none;
                appearance: none;
                width: 20px;
                height: 20px;
                background: white;
                border-radius: 50%;
                cursor: pointer; 
            }

            #slider1::-moz-range-thumb{
                width: 40px;
                height: 40px;
                background: white;
                border-radius: 50%;
                cursor: pointer;  
            }

        </style>
		 <!-- FIRST CONTENT -->
		 <div class="header-title-breadcrumb relative">
			<div class="header-title-breadcrumb-overlay text-center">
				<div class="container">
					<div class="row">
						<div class="col-md-7 text-left">
							<h1>Stimulation</h1>
						</div>
						<div class="col-md-5">
							<ol class="breadcrumb text-right"></ol>                    
						</div>
					</div>
				</div>
			</div>
		</div>

        <!-- MAIN CONTENT -->
        <div class="no-padding content-area no-sidebar">
 			<div class="container">
                <div class="row">
                    <main id="main" class="col-md-12 site-main main-content">
                        <article class="page type-page status-publish hentry">
                            <div class="entry-content">
	                           	<div id="primary" class="high-padding content-area no-sidebar">
								    <div class="container">
								        <div class="row">
								          	<div class="col-md-12 site-main main-content">
								            	<article id="post-935" class="post-935 page type-page status-publish hentry">
									                <div class="entry-content">
									                  	<div class="row mt_margin_bottom_80">
									                     	<div class="column container col-sm-9">
										                        <div class="column-inner">
									                                <!-- <div role="alert" class="alert alert-success mt_opacity_1 animateIn animated fadeIn" data-animate="fadeIn">
									                              		<strong>Well done!</strong> You successfully read this important alert message.
									                              	</div>
									                                <div role="alert" class="alert alert-info mt_opacity_1 animateIn animated fadeIn" data-animate="fadeIn">
									                                	<strong>Well done!</strong> You successfully read this important alert message.
																	</div> -->
																	<div>
																		<p>Montant: <span id="montant"></span></p>
																	  </div>
																	  <div class="slideContainer">
																	  <div style="margin-bottom: 80px">
																		<input type="range" min="1" max="12" value="0" id="myRange" class="slider">
																		<p>Mois: <span id="value"></span></p>
																	  </div>
																	  <div>
																		  <input type="range" min="3" max="25" value="0"  id="slider1">
																		  <p>CV: <span id="value1"></span></p>
																	  </div>
																	</div>
										                        </div>
										                    </div>
										                    
										                </div>
										                
										            </div>
										        </article>
										    </div>
								      	</div>
								    </div>
								</div> 	
                            </div>
                        </article>
                    </main>
                </div>
            </div>
        </div>


		<!-- Partie javascript -->
<script type="text/javascript">
    var slider = document.getElementById("myRange");

var output = document.getElementById("value");

output.innerHTML = slider.value;

slider.oninput = function(){
    output.innerHTML = this.value;
}

slider.addEventListener("mousemove", function(){
    var x = ((slider.value*100)/11)-9;
    var color = 'linear-gradient(90deg, rgb(117,252,117)' + x + '%, rgb(214,214,214)' + x + '%)';
    slider.style.background = color;
    calcul()
    
})


var slider1 = document.getElementById("slider1");
var output1 = document.getElementById("value1");
output1.innerHTML = slider1.value;

slider1.oninput = function(){
    output1.innerHTML = this.value;
}
slider1.addEventListener("mousemove", function(){
    var y = ((slider1.value*100)/23)-11;
    var color1 = 'linear-gradient(90deg, rgb(117,252,117)' + y + '%, rgb(214,214,214)' + y + '%)';
    slider1.style.background = color1;
    calcul()
})
var montant = document.getElementById("montant");
montant.innerHTML = 8545;

function calcul(){
    mois = slider.value;
    cv = slider1.value
    /************1 MOIS et 2 MOIS**********/
    if (mois==1 || mois==2 && cv>=3 && cv<=6){
        montant.innerHTML = 6336;
    }
    else if (mois==1 || mois==2 && cv>=7 && cv<=10){
        montant.innerHTML = 6799;
    }
    else if (mois==1 || mois==2 && cv>=11 && cv<=14){
        montant.innerHTML = 7949;
    }
    else if (mois==1 || mois==2 && cv>=15 && cv<=23){
        montant.innerHTML = 9585;
    }
    else if (mois==1 || mois==2 && cv>=24){
        montant.innerHTML = 10979;
    }
    /************3 MOIS à 5 MOIS**********/
    else if (mois>=3 && mois<=5 && cv>=3 && cv<=6){
        montant.innerHTML = 14607;
    }
    else if (mois>=3 && mois<=5 && cv>=7 && cv<=10){
        montant.innerHTML = 16000;
    }
    else if (mois>=3 && mois<=5 && cv>=11 && cv<=14){
        montant.innerHTML = 19449;
    }
    else if (mois>=3 && mois<=5 && cv>=15 && cv<=23){
        montant.innerHTML = 24358;
    }
    else if (mois>=3 && mois<=5 && cv>=24){
        montant.innerHTML = 28536;
    }
      /************6 MOIS à 11 MOIS**********/
    else if (mois>=6 && mois<=11  && cv>=3 && cv<=6){
    montant.innerHTML = 27013;
    }
    else if (mois>=6 && mois<=11 && cv>=7 && cv<=10){
        montant.innerHTML = 29800;
    }
    else if (mois>=6 && mois<=11 && cv>=11 && cv<=14){
        montant.innerHTML = 36697;
    }
    else if (mois>=6 && mois<=11 && cv>=15 && cv<=23){
        montant.innerHTML = 46515;
    }
    else if (mois>=6 && mois<=11 && cv>=24){
        montant.innerHTML = 54873;
    }

    /************12 MOIS**********/
    else if (mois==12 && cv>=3 && cv<=6){
    montant.innerHTML = 49462;
    }
    else if (mois==12 && cv>=7 && cv<=10){
        montant.innerHTML = 54770;
    }
    else if (mois==12 && cv>=11 && cv<=14){
        montant.innerHTML = 69009;
    }
    else if (mois==12 && cv>=15 && cv<=23){
        montant.innerHTML = 87710;
    }
    else if (mois==12 && cv>=24){
        montant.innerHTML = 103628;
    }
    
}


</script>
{% include 'footer.html' %}
