{% include 'header.html' %}
        <!-- SLIDER -->
        <div class="item active">
            <img src='{{url_for("static",filename="images/services-slide2.1.jpg")}}' alt="Contact us" class="mt_width_100">
        </div>
        <div class="carousel-caption align-center mt_top_25">
            <h1 class="mt_font_size_50">CONTACT US</h1>
                <p class="mt_font_size_20">Lorem ipsum dolor sit amet, consectetur adipiscing, elit, sed do diam, eiusmod tempor magna aliqua sed ut enim ad minim veniam, quis nostrud.</p>
        </div> 
        <!-- MAIN CONTENT -->
        <div class="no-padding content-area no-sidebar">
            <div class="container-fluid">
                <div class="row">
                    <main class="site-main main-content">
                        <article class="page type-page status-publish hentry">
                            <div class="entry-content">

                                <!-- SECTION: Contac US -->
                                <div data-vc-full-width="true" data-vc-full-width-init="true" class="container mt_custom_contact mt_padding_50">
                                    <div class="col-sm-12 col-md-12">
                                        <div class="row">
                                            <div class="col-sm-4 col-md-4 mt_margin_left_0">
                                                <h5 class="custom_heading fadeInLeft animated">CONTACT US</h5>
                                                <h2 class="custom_heading fadeInLeft animated mt_custom_h2">Get in Touch</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!-- SECTION: tabele -->
                                <div data-vc-full-width="true" data-vc-full-width-init="true" class="container mt_custom_tabele">
                                    <div class="text-left fadeInLeft container col-sm-4 animated">
                                        <p class="mt_text_align_left">
                                            <span><strong>Sed ut perspiciatis unde omnis iste natus</strong> error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. <strong>Nemo enim ipsam voluptatem</strong> quia voluptas sit aspernatur aut odit aut fugit, sed quia <strong>consequuntur magni dolores</strong> eos qui ratione. Ut enim ad minima eniam, quis.
                                            </span>
                                        </p>
                                    </div>
                                    <div class="fadeInRight container col-sm-8 animated">
                                        <div role="form" class="wpcf7" id="contact_me" dir="ltr" lang="en-US">
                                            <div class="screen-reader-response"></div>
                                            <form action="php/contact_mail.php" method="post" class="wpcf7-form" novalidate="novalidate">
                                                <div>
                                                    <input name="_wpcf7" value="7249" type="hidden">
                                                    <input name="_wpcf7_version" value="4.7" type="hidden">
                                                    <input name="_wpcf7_locale" value="en_US" type="hidden">
                                                    <input name="_wpcf7_unit_tag" value="wpcf7-f7249-p7385-o1" type="hidden">
                                                    <input name="_wpnonce" value="2d2d76b205" type="hidden">
                                                </div>                                                       
                                                <div class="form-contact-yankee">
                                                    <div class="form-part1">
                                                        <span class="wpcf7-form-control-wrap FirstName">
                                                            <input name="user_first_name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="First Name" type="text">
                                                        </span>
                                                        <span class="wpcf7-form-control-wrap LastName">
                                                            <input name="user_last_name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Last Name" type="text">
                                                        </span>
                                                        <span class="wpcf7-form-control-wrap email">
                                                            <input name="user_email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="email" type="text">
                                                        </span>
                                                    </div>
                                                    <div class="form-part2">
                                                        <span class="wpcf7-form-control-wrap Subject">
                                                            <input name="user_subject" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Subject" type="text">
                                                        </span>
                                                        <span class="wpcf7-form-control-wrap Message">
                                                            <textarea name="user_message" rows="10" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-invalid="false" placeholder="Message" aria-required="true">
                                                            </textarea>
                                                        </span>
                                                        <button type="submit" name="contact_me" class="submit-contact">Send message<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>



                                <!-- SECTION: MEMBERS -->
                                <div class="clearfix"></div>
                                <div data-vc-full-width="true" data-vc-full-width-init="false" class="container">
                                    <div class="col-sm-12 col-md-12 mt_members_align">
                                        <div class="column-inner">
                                            <div class="row mt_margin_right_30">
                                                <h1 class="custom_heading mt_custom_our">Our Experts Team</h1>
                                                <h3 class="custom_heading bottom-to-top mt_custom_lorem2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do diam eiusmod tempor<br/> magna aliqua sed ut enim ad minim veniam, quis nostrud.</h3>
                                            </div>
                                            <div class="mt_members1 mt_slider_members owl-carousel row owl-theme animateIn wow bounce high-padding mt_margin_0">
                                                <div class="item col-md-12 relative">
                                                    <div class="row">
                                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                            <div class="members_img_holder post-details">
                                                                <div class="memeber01-img-holder">
                                                                    <img src='{{url_for("static",filename="images/theme_yankee_member2.jpg")}}' alt="Will Wyatt"/>
                                                                </div>
                                                                <div class="member01-content">
                                                                    <div class="member01-content-inside">
                                                                        <h3 class="member01_name">Will Wyatt</h3>
                                                                        <p class="member01_content-desc">Lorem ipsum dolor sit amet, consectetur adipiscing dolor sit elit, sed do diam eiusmod tempor magna aliqua sed ut enim ad minim veniam, quis nostrud.</p>
                                                                        <h4 class="member01_position">Lead Consultant</h4>
                                                                        <a href="#" class="member01_button mt_custom_member"></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item col-md-12 relative">
                                                    <div class="row">
                                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                            <div class="members_img_holder post-details">
                                                                <div class="memeber01-img-holder">
                                                                    <img src='{{url_for("static",filename="images/theme_yankee_member1.jpg")}}' alt="John Smith" />
                                                                </div>
                                                                <div class="member01-content">
                                                                    <div class="member01-content-inside">
                                                                        <h3 class="member01_name">John Smith</h3>
                                                                        <p class="member01_content-desc">Lorem ipsum dolor sit amet, consectetur adipiscing dolor sit elit, sed do diam eiusmod tempor magna aliqua sed ut enim ad minim veniam, quis nostrud.</p>
                                                                        <h4 class="member01_position">Senior Consultant</h4>
                                                                        <a href="#" class="member01_button mt_custom_member"></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item col-md-12 relative">
                                                    <div class="row">
                                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                            <div class="members_img_holder post-details">
                                                                <div class="memeber01-img-holder">
                                                                    <img src='{{url_for("static",filename="images/theme_yankee_member3.jpg")}}' alt="Amanda Wyatt" />
                                                                </div>
                                                                <div class="member01-content">
                                                                    <div class="member01-content-inside">
                                                                        <h3 class="member01_name">Amanda Wyatt</h3>
                                                                        <p class="member01_content-desc">Lorem ipsum dolor sit amet, consectetur adipiscing dolor sit elit, sed do diam eiusmod tempor magna aliqua sed ut enim ad minim veniam, quis nostrud.</p>
                                                                        <h4 class="member01_position">Junior Consultant</h4>
                                                                        <a href="#" class="member01_button mt_custom_member"></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item col-md-12 relative">
                                                    <div class="row">
                                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                            <div class="members_img_holder post-details">
                                                                <div class="memeber01-img-holder">
                                                                    <img src='{{url_for("static",filename="images/theme_yankee_member2.jpg")}}' alt="Patrick stewart" />
                                                                </div>
                                                                <div class="member01-content">
                                                                    <div class="member01-content-inside">
                                                                        <h3 class="member01_name">Patrick stewart</h3>
                                                                        <p class="member01_content-desc">
                                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing dolor sit elit, sed do diam eiusmod tempor magna aliqua sed ut enim ad minim veniam, quis nostrud.</p>
                                                                        <h4 class="member01_position">Director</h4>
                                                                        <a href="#" class="member01_button mt_custom_member"></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!-- SECTION: Subscribe  -->
                                <div class="clearfix"></div>
                                <div data-vc-full-width="true" data-vc-full-width-init="true" class="container-fluid mt_subscribe_button_style col-md-12 col-sm-12">
                                    <div class="row">
                                        <div class="container mt_padding_top_45">
                                            <div class="col-sm-6 col-md-6 mt_bottom_5">
                                                <div class="column-inner ">
                                                    <h2 class="custom_heading fadeInLeft mt_custom_subscribe">Subscribe to our newsletter</h2>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6">
                                                <div class="column-inner ">
                                                    <div class="mc_embed_signup animateIn animated fadeInRight" data-animate="fadeInRight">
                                                        <div class="email">
                                                            <form class="subscribe" method="POST">
                                                                <input type="text" placeholder="Email Address" name="mailchimp_email" class="emaddress" data-validate="validate(required, email)">
                                                                <button class="btn-warning rippler rippler-default subscribe" name="submit_mailchimp" type="submit">Subscribe</button>
                                                                <span class="result section-description"></span>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>      
                                    </div>
                                </div>
                            </div>
                        </article>
                    </main>
                </div>
            </div>
        </div>

 {% include 'footer.html' %}