<!-- FOOTER -->
        <footer>
            <div class="row footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 footer-row-1">
                            <div class="container">
                                <div class="col-md-6 sidebar-1">
                                    <aside class="widget column widget_text">
                                        <h1 class="widget-title">ASSURANCE 221</h1>
                                        <div class="textwidget light_subtitle">
                                            <p>Vous devez assurer une voiture ou vous souhaitez changer d’assurance pour payer moins cher ?

                                                En moins de 2 minutes, notre simulateur vous offre les meilleurs tarifs et vous propose une livraison.
                                                
                                                Momar est un robot sur Whatsapp qui vous permet en temps réel d’établir des cotations d’assurance et de commander votre police.
                                                
                                                Ce dernier transmet votre demande et voilà votre assurance livrée au lieu de votre choix.
												<br>
												<br>
												Notre produit phare !

                                                Cette police d’assurance s’occupe de votre compagnon de tous les jours pour vous assurer contre le bris de glace.

                                                Cette assurance garantit exclusivement les dommages consécutifs ou non à un accident sur l’écran de votre téléphone s’il était toutefois recouvert au préalable d’un blindage d’écran.</p>
                                        </div>
                                    </aside>
                                </div>
                                <div class="col-md-2 sidebar-2">
                                    <aside class="widget column widget_nav_menu">
                                        <!-- <h1 class="widget-title">Useful Links</h1>
                                        	<div class="menu-footer-menu-1-container light_subtitle">
                                            	<ul id="menu-footer-menu-1" class="menu">
                                                	<li class="menu-item">
                                                    	<a href="#">Consulting</a>
                                                	</li>
                                                	<li class="menu-item">
                                                    	<a href="#">Privacy Policy</a>
                                                	</li>
                                                	<li class="menu-item">
                                                    	<a href="#">Blog</a>
                                                	</li>
                                                	<li class="menu-item">
                                                    	<a href="#">Purchase($49)</a>
                                                	</li>
                                            	</ul>
                                        	</div> -->
                                    </aside>
                                </div>
                                <div class="col-md-2 sidebar-3">
                                    <aside class="widget column widget_yankeewp_address_social_icons">
                                        <div class="sidebar-social-networks address-social-links">
                                            <h1 class="widget-title">Contact Us</h1>
                                       		<div class="contact-details light_subtitle">
                                            	<p>
                                            		<i class="fa fa-phone" aria-hidden="true"></i>(+221) 338 42 89 02
                                                </p>
                                                <p>
                                            		<i class="fa fa-phone" aria-hidden="true"></i>(+221) 338 42 99 02
                                            	</p>
                                            	<p>
                                            		<i class="fa fa-envelope" aria-hidden="true"></i>info@kapassur.com
                                            	</p>
                                            	<p>
                                            		<i class="fa fa-map-marker" aria-hidden="true"></i>54, Rue Abdou Karim Bourgi
                                            	</p>
                                            	<p>
                                            		<i class="fa fa-map-marker" aria-hidden="true"></i>BP 4200 Dakar RP
                                            	</p>
                                            	<p>
                                            		<i class="fa fa-map-marker" aria-hidden="true"></i>C.P : 18 524 Dakar SENEGAL.
                                            	</p>
                                        	</div>
                                        </div>
                                    </aside>
                                </div>
                                <div class="col-md-2 sidebar-4">
                                    <aside class="widget column widget_nav_menu">
                                        <h1 class="widget-title">Nos Services</h1>
                                    	<div class="menu-footer-menu-2-container light_subtitle">
                                        	<ul id="menu-footer-menu-2" class="menu">
                                            	<li class="menu-item">
                                            		<a href="#">Assurance Auto</a>
                                            	</li>
                                            	<li  class="menu-item">
                                            		<a href="#">Assurance Moto</a>
                                            	</li>
                                            	<li  class="menu-item">
                                            		<a href="#">Assurance Téléphone</a>
                                            	</li>
                                            	<!-- <li  class="menu-item">
                                            		<a href="#">Management</a>
                                            	</li>
                                            	<li  class="menu-item">
                                            		<a href="#">Marketing</a>
                                            	</li> -->
                                        	</ul>
                                    	</div>
                                    </aside>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-div-parent">
                <div class="container footer mt_footer_bgcolor">
                    <div class="col-md-3">
                        <a class="logo-footer" href="#">
                            <img src='{{url_for("static",filename="images/logo.svg")}}' alt="assurance221" />
                        </a>
                    </div>
                    <div class="col-md-6">
                        <p class="copyright text-center">Copyright © 2020 - Assurance221 | Tout droits réservés.</p>
                    </div>
                    <div class="col-md-3">
                        <ul class="social-links">
                            <li>
                            	<a href="#">
                            		<i class="fa fa-facebook"></i>
                            	</a>
                            </li>
                            <li>
                            	<a href="#">
                            		<i class="fa fa-twitter"></i>
                            	</a>
                            </li>
                            <li>
                            	<a href="#">
                            		<i class="fa fa-google-plus"></i>
                            	</a>
                            </li>
                            <li>
                            	<a href="#">
                            		<i class="fa fa-youtube"></i>
                            	</a>
                            </li>
                            <li>
                            	<a href="#">
                            		<i class="fa fa-pinterest"></i>
                            	</a>
                            </li>
                            <li>
                            	<a href="#">
                            		<i class="fa fa-linkedin"></i>
                            	</a>
                            </li>
                            <li>
                            	<a href="#">
                            		<i class="fa fa-skype"></i>
                            	</a>
                            </li>
                            <li>
                            	<a href="#">
                            		<i class="fa fa-instagram"></i>
                            	</a>
                            </li>
                            <li>
                            	<a href="#">
                            		<i class="fa fa-dribbble"></i>
                            	</a>
                            </li>
                            <li>
                            	<a href="#">
                            		<i class="fa fa-deviantart"></i>
                            	</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>


    <!-- SCRIPTS -->
    <script type="text/javascript" src='{{url_for("static",filename="js/jquery.js")}}'></script> 
    <script type='text/javascript' src='{{url_for("static",filename="js/jquery.form.min.js")}}'></script>
    <script type='text/javascript' src='{{url_for("static",filename="js/scripts.js")}}'></script>
    <script type='text/javascript' src='{{url_for("static",filename="js/main.js")}}'></script>
    <script type='text/javascript' src='{{url_for("static",filename="js/mt-plugins.js")}}'></script>
    <script type='text/javascript' src='{{url_for("static",filename="js/dynamics.min.js")}}'></script>
    <script type='text/javascript' src='{{url_for("static",filename="js/snap.svg-min.js")}}'></script>
    <script type='text/javascript' src='{{url_for("static",filename="js/percircle.js")}}'></script>
    <script type='text/javascript' src='{{url_for("static",filename="js/modeltheme-custom.js")}}'></script>
    <script type='text/javascript' src='{{url_for("static",filename="js/yankeewp-plugins.js")}}'></script>
    <script type='text/javascript' src='{{url_for("static",filename="js/wow.min.js")}}'></script>
    <script type='text/javascript' src='{{url_for("static",filename="js/yankeewp-custom.js")}}'></script>
    <script type='text/javascript' src='{{url_for("static",filename="js/bootstrap.min.js")}}'></script>
    <script type='text/javascript' src='{{url_for("static",filename="js/parallax.min.js")}}'></script>
    <script type='text/javascript' src='{{url_for("static",filename="js/parallax.js")}}'></script>

    <script src='{{url_for("static",filename="test.js")}}'></script>
</body>

</html>
