{% include 'header.html' %}


        <!-- MAIN CONTENT -->
        <div class="no-padding content-area no-sidebar high-padding">
            <div class="row">
                <main id="main" class="col-md-12 site-main main-content">
                    <article class="page type-page status-publish hentry">
                        <div class="entry-content">
                           <section id="cd-google-map">
						        <div id="google-container"></div>
						        <div id="cd-zoom-in"></div>
						        <div id="cd-zoom-out"></div>
						    </section>

                        </div>
                    </article>
                </main>
            </div>
        </div>

{% include 'footer.html' %}
