<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href='{{url_for("static",filename="images/logo.svg")}}'>
    <title>Assurance &#8211; 221 &amp; Senegal</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script>
    <link rel="stylesheet" href='{{url_for("static",filename="test2.css")}}' type="text/css">
    <!-- STARTING CSS -->
    <link rel='stylesheet' href='{{url_for("static",filename="css/style.css")}}' type='text/css' />
	<link rel='stylesheet' href='{{url_for("static",filename="css/responsive.css")}}' type='text/css' />
	<link rel='stylesheet' href='{{url_for("static",filename="css/shortcodes.css")}}' type='text/css' />
	<link rel='stylesheet' href='{{url_for("static",filename="css/media-screens.css")}}' type='text/css' />
	<link rel='stylesheet' href='{{url_for("static",filename="css/owl.carousel.css")}}' type='text/css' />
	<link rel='stylesheet' href='{{url_for("static",filename="css/owl.theme.css")}}' type='text/css' />
	<link rel='stylesheet' href='{{url_for("static",filename="css/animate.css")}}' type='text/css' />
	<link rel='stylesheet' href='{{url_for("static",filename="css/styles.css")}}' type='text/css' />
	<link rel='stylesheet' href='{{url_for("static",filename="css/styles-headers.css")}}' type='text/css' />
	<link rel='stylesheet' href='{{url_for("static",filename="css/styles-footer.css")}}' type='text/css' />
	<link rel='stylesheet' href='{{url_for("static",filename="css/sidebarEffects.css")}}' type='text/css' />
	<link rel='stylesheet' href='{{url_for("static",filename="css/loaders.css")}}' type='text/css' />
	<link rel='stylesheet' href='{{url_for("static",filename="css/simple-line-icons.css")}}' type='text/css' />
    <link rel='stylesheet' href='{{url_for("static",filename="css/custom.css")}}' type='text/css' media='all'/>
    <link rel='stylesheet' href='{{url_for("static",filename="css/style-shortcodes-inc.css")}}' type='text/css' />
    <link rel='stylesheet' href='{{url_for("static",filename="css/contact-form-7.css")}}' type='text/css'  />
    <link rel='stylesheet' href='{{url_for("static",filename="css/font-awesome.min.css")}}' type='text/css'  />
    <link rel="stylesheet" href='{{url_for("static",filename="test2.css")}}' type="text/css">

    <!-- css -->
    
    <!-- FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

</head>

<body class="home page-template-default page page-child parent-pageid-2346 header1 wpb-js-composer js-comp-ver-5.1 responsive mt_index_background_color" style="background: white;">
    <div class="fixed-search-overlay">
        <i class="icon-close icons"></i>
        <div class="fixed-search-inside">
            <div class="modeltheme-search">
                <form method="GET" action="#">
                    <input class="search-input" placeholder="Enter search term..." type="search" value="" name="s" id="search" />
                    <i class="fa fa-search"></i>
                    <input type="hidden" name="post_type" value="post" />
                </form>
            </div>
        </div>
    </div>



    <div id="page" class="hfeed site">

        <!-- SIDEBAR HEADER -->
        <div class="fixed-sidebar-menu-overlay"></div>
        <div class="relative fixed-sidebar-menu-holder header7">
            <div class="fixed-sidebar-menu">
                <i class="icon-close icons"></i>
                <div class="header7">
                    <div class="left-side">
                        <h1 class="logo dark-title mt_fond_bold">Yankee</h1>
                        <aside class="widget widget_search">
                            <form role="search" method="get" class="search-form" action="#">
                                <label>
                                    <span class="screen-reader-text">Search for:</span>
                                    <input type="search" class="search-field" placeholder="Search &hellip;" value="" name="s" />
                                </label>
                                <input type="submit" class="search-submit" value="Search" />
                            </form>
                        </aside>        
                        <aside class="widget widget_recent_entries">        
                            <h1 class="widget-title dark-subtitle mt_fond_bold">Recent Posts</h1>
                            <ul>
                                <li>
                                    <a href="#">Business Consulting</a>
                                </li>
                                <li>
                                    <a href="#">IT Management</a>
                                </li>
                                <li>
                                    <a href="#">Online Consulting</a>
                                </li>
                                <li>
                                    <a href="#">How to Select a Small Business Coach or Consultant</a>
                                </li>
                                <li>
                                    <a href="#">Narrow Your Focus to Prevent Overanalysis</a>
                                </li>
                            </ul>
                        </aside>        
                        <aside class="widget widget_recent_comments">
                            <h1 class="widget-title dark-subtitle mt_fond_bold">Recent Comments</h1>
                            <ul id="recentcomments">
                                <li class="recentcomments">
                                    <span class="comment-author-link">Cristian Stan</span>
                                    <a href="#" class="mt_color_green_search">Harvest great ideas from your company’s best assets</a>
                                </li>
                                <li class="recentcomments">
                                    <span class="comment-author-link">Cristian Stan</span> 
                                    <a href="#" class="mt_color_green_search">Organically grow the holistic world</a>
                                </li>
                                <li class="recentcomments">
                                    <span class="comment-author-link">Cristian Stan</span>
                                    <a href="#" class="mt_color_green_search">Insurance for your family</a>
                                </li>
                                <li class="recentcomments">
                                    <span class="comment-author-link">Cristian Stan</span>
                                    <a href="#" class="mt_color_green_search">Survival strategies to ensure domination</a>
                                </li>
                                <li class="recentcomments">
                                    <span class="comment-author-link">Cristian Stan</span>
                                    <a href="#" class="mt_color_green_search">How to choose best life insurance for your family</a>
                                </li>
                            </ul>
                        </aside>
                        <aside class="widget widget_archive">
                            <h1 class="widget-title dark-subtitle mt_fond_bold">Archives</h1>       
                            <ul>
                                <li>
                                    <a href="#">April 2017</a>
                                </li>
                                <li>
                                    <a href='#'>March 2016</a>
                                </li>
                                <li>
                                    <a href='#'>February 2016</a>
                                </li>
                                <li>
                                    <a href='#'>January 2016</a>
                                </li>
                            </ul>
                        </aside>
                        <aside class="widget widget_categories">
                            <h1 class="widget-title dark-subtitle mt_fond_bold">Categories</h1>     
                            <ul>
                                <li class="cat-item cat-item-69">
                                    <a href="#" >
                                        consulting
                                    </a>
                                </li>
                                <li class="cat-item cat-item-69">
                                    <a href="#" >
                                        insurance
                                    </a>
                                </li>
                            </ul>
                        </aside>
                        <aside class="widget widget_meta">
                            <h1 class="widget-title">Meta</h1>          
                            <ul>
                                <li>
                                    <a href="#">Log in</a>
                                </li>
                                <li>
                                    <a href="#"> Entries 
                                        <abbr title="Really Simple Syndication"> RSS</abbr>
                                    </a>
                                </li>
                                <li>
                                    <a href="#"> Comments 
                                        <abbr title="Really Simple Syndication"> RSS</abbr>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" title="Powered by WordPress, state-of-the-art semantic personal publishing platform.">WordPress.org</a>
                                </li>           
                            </ul>
                        </aside>                    
                    </div>
                </div>
            </div>
        </div>

        <!-- HEADER -->
        <header class="header1">
            <div class="container logo-infos">
                <div class="row"></div>
            </div>
            
            <nav class="navbar navbar-default" style="background: white;">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    	<span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
        			<h1 class="logo">
						<a href='{{url_for("accueil")}}'>
							<img src='{{url_for("static",filename="images/logo.svg")}}' style="width: 100px; height:50px;" alt="assurance221" />
						</a>
					</h1>
            	</div>
                <div id="navbar" class="navbar-collapse collapse">
                    <div class="menu-01-main-menu-container">
                        <ul id="menu-01-main-menu" class="menu">
                            <li class="menu-item menu-item-home current-menu-item page_item current_page_item current-menu-ancestor current-menu-parent current_page_parent ">
                            	<a href='{{url_for("accueil")}}'>Accueil</a>
                            </li>
                           
                            <li class="menu-item">
                            	<a href='{{url_for("stimulation")}}'>Stimulation</a>
                                
                            </li>
                            
                        </ul>
                    </div>

                </div>
            </nav>
        </header>