{% include 'header.html' %}


        <!-- MAIN CONTENT -->
        <div class="no-padding content-area no-sidebar high-padding">
 			<div class="container">
                <div class="row">
                    <main id="main" class="col-md-12 site-main main-content">
                        <article class="page type-page status-publish hentry">
                            <div class="entry-content">
    	                        <div class="row mt_text_align_left">
		                            <div class="columncolumn_container col-sm-6">
		                                <div class="column-inner">
	                                        <div class="jumbotron animateIn animated fadeIn mt_opacity_1" data-animate="fadeIn">
	                                            <h1>Hard Work</h1>
	                                            <p class="mt_paragraph_style">Start with good people, lay out the rules, communicate with your employees, motivate them and reward them. If you do all those things effectively, you can't miss.</p>
	                                            <p>	
	                                            	<a role="button" href="" class="btn btn-primary btn-lg">Get in Touch</a>
	                                            </p>
	                                        </div>
	                                        <div class="jumbotron animateIn animated fadeIn mt_opacity_1" data-animate="fadeIn">
	                                            <h1>Secrets to Success</h1>
	                                            <p class="mt_paragraph_style">Start with good people, lay out the rules, communicate with your employees, motivate them and reward them. If you do all those things effectively, you can't miss.</p>
	                                            <p>
	                                            	<a role="button" href="" class="btn btn-primary btn-lg">Learn More</a>
	                                            </p>
	                                        </div>
		                                </div>
		                            </div>
		                            <div class="column column_container col-sm-6">
		                                <div class="column-inner">
	                                        <div class="jumbotron animateIn animated fadeIn mt_opacity_1" data-animate="fadeIn">
	                                            <h1>Learning from Failure</h1>
	                                            <p class="mt_paragraph_style">Start with good people, lay out the rules, communicate with your employees, motivate them and reward them. If you do all those things effectively, you can't miss.</p>
	                                            <p>
	                                            	<a role="button" href="" class="btn btn-primary btn-lg">Learn Now</a>
	                                            </p>
	                                        </div>
	                                        <div class="jumbotron animateIn animated fadeIn mt_opacity_1" data-animate="fadeIn">
	                                            <h1>Result of Preparation</h1>
	                                            <p class="mt_paragraph_style">Start with good people, lay out the rules, communicate with your employees, motivate them and reward them. If you do all those things effectively, you can't miss.</p>
	                                            <p>
	                                            	<a role="button" href="" class="btn btn-primary btn-lg">Learn Now</a>
	                                            </p>
	                                        </div>
		                                </div>
		                            </div>
		                        </div>
                            </div>
                        </article>
                    </main>
                </div>
            </div>
        </div>
{% include 'footer.html' %}
