{% include 'header.html' %}

        <!-- MAIN CONTENT -->
        <div class="no-padding content-area no-sidebar high-padding">
    		<div class="container-fluid">
                <div class="row">
                    <main id="main" class="site-main main-content">
                        <article class="page type-page status-publish hentry">
                            <div class="entry-content">
                            	<!-- PRICING STYLE 1 -->
				                <div class="container high-padding">
				                    <div class="column column_container col-sm-4">
				                        <div class="column-inner ">
				                            <div class="row">
				                                <div class="pricing-section wow bounce animated mt_princing">
				                                    <div class="pricing pricing--tenzin">
				                                        <div class="pricing__item ">
				                                            <h3 class="pricing__title">Starter Package</h3>
				                                            <div class="pricing__price"><span class="pricing__currency">$</span>99</div>
				                                            <p class="pricing__sentence">Starter Package</p>
				                                            <ul class="pricing__feature-list">
				                                                <li class="pricing__feature">Communication strategies</li>
				                                                <li class="pricing__feature">Customer engagement</li>
				                                                <li class="pricing__feature">Creative support</li>
				                                                <li class="pricing__feature">Marketing plans</li>
				                                            </ul>
				                                            <a class="pricing__action mt_pricing_button_color" href="#">GET IT NOW</a>
				                                        </div>
				                                    </div>
				                                </div>
				                            </div>
				                        </div>
				                    </div>
		                            <div class="column column_container col-sm-4">
		                                <div class="column-inner ">
	                                        <div class="row">
	                                            <div class="pricing-section wow bounce animated mt_princing">
	                                                <div class="pricing pricing--tenzin">
	                                                    <div class="pricing__item ">
	                                                        <h3 class="pricing__title">PRO Package</h3>
	                                                        <div class="pricing__price"><span class="pricing__currency">$</span>149</div>
	                                                        <p class="pricing__sentence">Best Deal</p>
	                                                        <ul class="pricing__feature-list">
	                                                            <li class="pricing__feature">Communication strategies &amp; PR</li>
	                                                            <li class="pricing__feature">Customer engagement</li>
	                                                            <li class="pricing__feature">Creative support</li>
	                                                            <li class="pricing__feature">Marketing plans &amp; strategies</li>
	                                                        </ul>
	                                                        <a class="pricing__action mt_pricing_button_color" href="#">GET IT NOW</a>
	                                                    </div>
	                                                </div>
	                                            </div>
	                                        </div>
		                                </div>
		                            </div>
			                        <div class="column column_container col-sm-4">
			                            <div class="column-inner ">
		                                    <div class="row">
		                                        <div class="pricing-section wow bounce animated mt_princing">
		                                            <div class="pricing pricing--tenzin">
		                                                <div class="pricing__item ">
		                                                    <h3 class="pricing__title">Business Package</h3>
		                                                    <div class="pricing__price"><span class="pricing__currency">$</span>199</div>
		                                                    <p class="pricing__sentence">Business Package</p>
		                                                    <ul class="pricing__feature-list">
		                                                        <li class="pricing__feature">Communication strategies &amp; PR</li>
		                                                        <li class="pricing__feature">Customer engagement </li>
		                                                        <li class="pricing__feature">Unlimited creative ideas</li>
		                                                        <li class="pricing__feature">Marketing plans &amp; strategies</li>
		                                                    </ul>
		                                                    <a class="pricing__action mt_pricing_button_color" href="#">GET IT NOW</a>
		                                                </div>
		                                            </div>
		                                        </div>
		                                    </div>
			                            </div>
			                        </div>
                        		</div>
		                        <!-- PRICING STYLE 2 -->
		                        <div data-vc-full-width="true" data-vc-full-width-init="true" class="container-fluid high-padding mt_background_pricing_style_2">
		                        	<div class="container">
			                            <div class="column container col-sm-4">
			                                <div class="column-inner ">
		                                        <div class="row">
		                                            <div class="pricing-section wow bounce animated mt_princing">
		                                                <div class="pricing pricing--norbu">
		                                                    <div class="pricing__item ">
		                                                        <h3 class="pricing__title">Starter Package</h3>
		                                                        <div class="pricing__price"><span class="pricing__currency">$</span>99<span class="pricing__period">per month</span></div>
		                                                        <p class="pricing__sentence">Starter Package</p>
		                                                        <ul class="pricing__feature-list">
		                                                            <li class="pricing__feature"><i class="icon-arrow-right icons"></i>Communication strategies</li>
		                                                            <li class="pricing__feature"><i class="icon-arrow-right icons"></i>Customer engagement</li>
		                                                            <li class="pricing__feature"><i class="icon-arrow-right icons"></i>Creative support</li>
		                                                            <li class="pricing__feature"><i class="icon-arrow-right icons"></i>Marketing plans</li>
		                                                        </ul>
		                                                        <a class="pricing__action" href="#">GET IT NOW</a>
		                                                    </div>
		                                                </div>
		                                            </div>
		                                        </div>
			                                </div>
			                            </div>
			                            <div class="column container col-sm-4">
			                                <div class="column-inner ">
		                                        <div class="row">
		                                            <div class="pricing-section wow bounce animated mt_princing">
		                                                <div class="pricing pricing--norbu">
		                                                    <div class="pricing__item ">
		                                                        <h3 class="pricing__title">PRO Package</h3>
		                                                        <div class="pricing__price"><span class="pricing__currency">$</span>149<span class="pricing__period">per month</span></div>
		                                                        <p class="pricing__sentence">Best Deal</p>
		                                                        <ul class="pricing__feature-list">
		                                                            <li class="pricing__feature"><i class="icon-arrow-right icons"></i>Communication strategies &amp; PR</li>
		                                                            <li class="pricing__feature"><i class="icon-arrow-right icons"></i>Customer engagement</li>
		                                                            <li class="pricing__feature"><i class="icon-arrow-right icons"></i>Creative support</li>
		                                                            <li class="pricing__feature"><i class="icon-arrow-right icons"></i>Marketing plans &amp; strategies</li>
		                                                        </ul>
		                                                        <a class="pricing__action" href="#">GET IT NOW</a>
		                                                    </div>
		                                                </div>
		                                            </div>
		                                        </div>
			                                </div>
			                            </div>
			                            <div class="column container col-sm-4">
			                                <div class="column-inner ">
		                                        <div class="row">
		                                            <div class="pricing-section wow bounce animated mt_princing">
		                                                <div class="pricing pricing--norbu">
		                                                    <div class="pricing__item ">
		                                                        <h3 class="pricing__title">Business Package</h3>
		                                                        <div class="pricing__price"><span class="pricing__currency">$</span>199<span class="pricing__period">per month</span></div>
		                                                        <p class="pricing__sentence">Business Package</p>
		                                                        <ul class="pricing__feature-list">
		                                                            <li class="pricing__feature"><i class="icon-arrow-right icons"></i>Communication strategies &amp; PR</li>
		                                                            <li class="pricing__feature"><i class="icon-arrow-right icons"></i>Customer engagement</li>
		                                                            <li class="pricing__feature"><i class="icon-arrow-right icons"></i>Unlimited creative ideas</li>
		                                                            <li class="pricing__feature"><i class="icon-arrow-right icons"></i>Marketing plans &amp; strategies</li>
		                                                        </ul>
		                                                        <a class="pricing__action" href="#">GET IT NOW</a>
		                                                    </div>
		                                                </div>
		                                            </div>
		                                        </div>
			                                </div>
			                            </div>
			                        </div>
		                        </div>
			                    <!-- PRINCING STYLE 3 -->
                                <div class="clearfix"></div>
                            	<div data-vc-full-width="true" data-vc-full-width-init="false" class="container high-padding ">
                            		<div class="col-md-12 col-sm-12 container">
		                                <div class="col-sm-4 col-md-4">
	                                        <div class="row">
	                                            <div class="pricing-section wow bounce">
	                                                <div class="pricing pricing--pema">
	                                                    <div class="pricing__item pricing__item--nofeatured">
	                                                        <h3 class="pricing__title">BASIC PLAN</h3>
	                                                        	<p class="pricing__sentence">BASIC PLAN</p>
	                                                        <div class="pricing__price">
	                                                        	<span class="pricing__currency">$</span>19
	                                                        	<span class="pricing__period">/ month</span>
	                                                        </div>
	                                                        <ul class="pricing__feature-list">
	                                                            <li class="pricing__feature">Analyzes</li>
	                                                            <li class="pricing__feature">60 min</li>
	                                                            <li class="pricing__feature">1 Time per Week</li>
	                                                            <li class="pricing__feature">2 Solutions</li>
	                                                        </ul>
	                                                        <a class="pricing__action" href="#">GET STARTED</a>
	                                                    </div>
	                                                </div>
	                                            </div>
	                                        </div>
		                                </div>
		                                <div class="col-sm-4 col-md-4">
	                                        <div class="row">
	                                            <div class="pricing-section wow bounce">
	                                                <div class="pricing pricing--pema">
	                                                    <div class="pricing__item pricing__item--featured">
	                                                        <h3 class="pricing__title">STANDARD PLAN</h3>
	                                                        	<p class="pricing__sentence">STANDARD PLAN</p>
	                                                        	<div class="pricing__price">
	                                                        		<span class="pricing__currency">$</span>81
	                                                        		<span class="pricing__period">/ month</span>
	                                                        </div>
	                                                        <ul class="pricing__feature-list">
	                                                            <li class="pricing__feature">Analyzes</li>
	                                                            <li class="pricing__feature">120 min</li>
	                                                            <li class="pricing__feature">2 Time per Week</li>
	                                                            <li class="pricing__feature">3 Solutions</li>
	                                                            <li class="pricing__feature">Custom Logo</li>
	                                                        </ul>
	                                                        <a class="pricing__action" href="#">GET STARTED</a>
	                                                    </div>
	                                                </div>
	                                            </div>
	                                        </div>
		                                </div>
		                                <div class="col-sm-4 col-md-4">
	                                       	 <div class="row">
	                                            <div class="pricing-section wow bounce">
	                                                <div class="pricing pricing--pema">
	                                                    <div class="pricing__item pricing__item--nofeatured">
	                                                        <h3 class="pricing__title">BUSINESS PLAN</h3>
	                                                        <p class="pricing__sentence">BUSINESS PLAN</p>
	                                                        <div class="pricing__price">
	                                                        	<span class="pricing__currency">$</span>51
	                                                        	<span class="pricing__period">/ month</span>
	                                                        </div> 
	                                                        <ul class="pricing__feature-list">
	                                                            <li class="pricing__feature">Analyzes</li>
	                                                            <li class="pricing__feature">150 min</li>
	                                                            <li class="pricing__feature">3 Time per Week</li>
	                                                            <li class="pricing__feature">4 Solutions</li>
	                                                        </ul>
	                                                        <a class="pricing__action" href="#">GET STARTED</a>
	                                                    </div>
	                                                </div>
	                                            </div>
	                                        </div>						
		                                </div>
		                            </div>
		                        </div>
                            </div>
                        </article>
                    </main>
                </div>
            </div>
        </div>

{% include 'footer.html' %}
