{% include 'header.html' %}
        <!-- SLIDER -->
        <div class="clearfix"></div>
        <div class="item active ">
            <img src='{{url_for("static",filename="images/services1-slider.jpg")}}' class="mt_max_size_images" alt="About US">
        </div>
        <div class="carousel-caption mt_top_25">
            <h1 class="mt_font_size_50">SERVICES</h1>
            <p class="mt_font_size_20">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do diam eiusmod tempor magna aliqua sed et enim ad minim veniam, quis nostrud.</p>
        </div>  
        <!-- MAIN CONTENT -->
        <div class="no-padding content-area no-sidebar">
            <div class="container-fluid">
                <div class="row">
                    <main class="site-main main-content">
                        <article class="page type-page status-publish hentry">
                            <div class="entry-content">

                                <!-- SECTION: SERVICES -->
                                <div data-vc-full-width="true" data-vc-full-width-init="true" class="container high-padding mt_services_align">
                                    <div class="col-sm-4 col-md-4 text-center">
                                        <div class="text_column bottom-to-top start_animation animated">
                                            <p>
                                                <img class="size-full wp-image-7207 aligncenter" src='{{url_for("static",filename="images/iconita1-1.png")}}'  alt="">
                                            </p>
                                        </div>
                                        <h3 class="bottom-to-top animated mt_h3_style">Chemistry Consulting</h3>
                                        <div class="text_column bottom-to-top animated">
                                            <p class="mt_paragraph_style">Lorem ipsum dolor sit amet, consectetur adipiscing
                                                <br> elit, sed do diam eiusmod tempor magna aliqua sed ut
                                                <br> enim ad minim veniam, quis nostrud.
                                            </p>
                                        </div>
                                        <div class="mt_height_60"></div>
                                        <div class="bottom-to-top start_animation animated">
                                            <p>
                                                <img class="size-full aligncenter" src='{{url_for("static",filename="images/iconita4.png")}}'  alt="">
                                            </p>
                                        </div>
                                        <h3 class="custom_heading bottom-to-top animated mt_h3_style">Financial Consulting</h3>
                                        <div class="text_column bottom-to-top animated">
                                            <p class="mt_paragraph_style">Lorem ipsum dolor sit amet, consectetur adipiscing
                                                <br> elit, sed do diam eiusmod tempor magna aliqua sed ut
                                                <br> enim ad minim veniam, quis nostrud.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-4 text-center">
                                        <div class="bottom-to-top animated">
                                            <p>
                                                <img class="size-full aligncenter" src='{{url_for("static",filename="images/iconita2.png")}}' alt="">
                                            </p>
                                        </div>
                                        <h3 class="custom_heading bottom-to-top animated mt_h3_style">Energy Consulating</h3>
                                        <div class="text_column bottom-to-top animated">
                                            <p class="mt_paragraph_style">Lorem ipsum dolor sit amet, consectetur adipiscing
                                                <br> elit, sed do diam eiusmod tempor magna aliqua sed ut
                                                <br> enim ad minim veniam, quis nostrud.
                                            </p>
                                        </div>
                                        <div class="mt_height_60"></div>
                                        <div class="text_column bottom-to-top animated">
                                            <p>
                                                <img class="size-full aligncenter" src='{{url_for("static",filename="images/iconita5.png")}}' alt="">
                                            </p>
                                        </div>
                                        <h3 class="custom_heading bottom-to-top  animated mt_h3_style">Business Consulting</h3>
                                        <div class="text_column bottom-to-top animated">
                                            <p class="mt_paragraph_style">Lorem ipsum dolor sit amet, consectetur adipiscing
                                                <br> elit, sed do diam eiusmod tempor magna aliqua sed ut
                                                <br> enim ad minim veniam, quis nostrud.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-4 text-center">
                                        <div class="text_column bottom-to-top animated">
                                            <p>
                                                <img class="size-full aligncenter" src='{{url_for("static",filename="images/iconita3-1.png")}}' alt="">
                                            </p>
                                        </div>
                                        <h3 class="custom_heading bottom-to-top mt_h3_style">Green Energy Consulting</h3>
                                        <div class="text_column bottom-to-top animated">
                                            <p class="mt_paragraph_style">Lorem ipsum dolor sit amet, consectetur adipiscing
                                                <br> elit, sed do diam eiusmod tempor magna aliqua sed ut
                                                <br> enim ad minim veniam, quis nostrud.
                                            </p>
                                        </div>
                                        <div class="mt_height_60"></div>
                                        <div class="text_column bottom-to-top animated">
                                            <p>
                                                <img class="size-full aligncenter" src='{{url_for("static",filename="images/iconita6.png")}}' alt="">
                                            </p>
                                        </div>
                                        <h3 class="custom_heading bottom-to-top animated mt_h3_style">Travel Consulting</h3>
                                        <div class="text_column bottom-to-top animated">
                                            <p class="mt_paragraph_style">Lorem ipsum dolor sit amet, consectetur adipiscing
                                                <br> elit, sed do diam eiusmod tempor magna aliqua sed ut
                                                <br> enim ad minim veniam, quis nostrud.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <!-- SECTION: PARALLAX -->
                                <div class="clearfix"></div>
                                <div class="container-fluid">
                                    <section id="parallax_pricing" class="parallax mt_video_align mt_margin_left_5">
                                        <div data-vc-full-width="true" data-vc-full-width-init="true" class="row mt_video_style ">
                                            <div class="col-sm-12 col-md-12">
                                                <div class="container">
                                                    <div class="mt_video text-center row">
                                                        <div class="wow fadeInUp">
                                                            <a class="popup-vimeo-video" href="#">
                                                                <img class="buton_image_class" src='{{url_for("static",filename="images/Untitled-2.png")}}' alt="" > 
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <h1 class="custom_heading appear mt_custom_market">Market Analytics</h1>
                                                    <h3 class="custom_heading bottom-to-top bottom-to-top mt_custom_lorem light_subtitle mt_analytics_style mt_width_95">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do diam eiusmod tempor
                                                    magna aliqua sed ut enim ad minim veniam, quis nostrud.</h3>
                                                </div>                  
                                            </div>
                                        </div>
                                    </section>
                                </div>
                                    

                                <!-- SECTION: PRICING TABLES -->
                                <div class="clearfix"></div>
                                <div data-vc-full-width="true" data-vc-full-width-init="false" class="container high-padding ">
                                    <div class="col-md-12 col-sm-12 container">
                                        <div class="col-sm-4 col-md-4">
                                            <div class="row">
                                                <div class="pricing-section wow bounce">
                                                    <div class="pricing pricing--pema">
                                                        <div class="pricing__item pricing__item--nofeatured">
                                                            <h3 class="pricing__title">BASIC PLAN</h3>
                                                                <p class="pricing__sentence">BASIC PLAN</p>
                                                            <div class="pricing__price">
                                                                <span class="pricing__currency">$</span>19
                                                                <span class="pricing__period">/ month</span>
                                                            </div>
                                                            <ul class="pricing__feature-list">
                                                                <li class="pricing__feature">Analyzes</li>
                                                                <li class="pricing__feature">60 min</li>
                                                                <li class="pricing__feature">1 Time per Week</li>
                                                                <li class="pricing__feature">2 Solutions</li>
                                                            </ul>
                                                            <a class="pricing__action" href="#">GET STARTED</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-4">
                                            <div class="row">
                                                <div class="pricing-section wow bounce">
                                                    <div class="pricing pricing--pema">
                                                        <div class="pricing__item pricing__item--featured">
                                                            <h3 class="pricing__title">STANDARD PLAN</h3>
                                                                <p class="pricing__sentence">STANDARD PLAN</p>
                                                                <div class="pricing__price">
                                                                    <span class="pricing__currency">$</span>81
                                                                    <span class="pricing__period">/ month</span>
                                                            </div>
                                                            <ul class="pricing__feature-list">
                                                                <li class="pricing__feature">Analyzes</li>
                                                                <li class="pricing__feature">120 min</li>
                                                                <li class="pricing__feature">2 Time per Week</li>
                                                                <li class="pricing__feature">3 Solutions</li>
                                                                <li class="pricing__feature">Custom Logo</li>
                                                            </ul>
                                                            <a class="pricing__action" href="#">GET STARTED</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-4">
                                             <div class="row">
                                                <div class="pricing-section wow bounce">
                                                    <div class="pricing pricing--pema">
                                                        <div class="pricing__item pricing__item--nofeatured">
                                                            <h3 class="pricing__title">BUSINESS PLAN</h3>
                                                            <p class="pricing__sentence">BUSINESS PLAN</p>
                                                            <div class="pricing__price">
                                                                <span class="pricing__currency">$</span>51
                                                                <span class="pricing__period">/ month</span>
                                                            </div> 
                                                            <ul class="pricing__feature-list">
                                                                <li class="pricing__feature">Analyzes</li>
                                                                <li class="pricing__feature">150 min</li>
                                                                <li class="pricing__feature">3 Time per Week</li>
                                                                <li class="pricing__feature">4 Solutions</li>
                                                            </ul>
                                                            <a class="pricing__action" href="#">GET STARTED</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>                      
                                        </div>
                                    </div>
                                </div>


                                <!-- SECTION: Subscribe  -->
                                <div class="clearfix"></div>
                                <div data-vc-full-width="true" data-vc-full-width-init="true" class="container-fluid mt_subscribe_button_style col-md-12 col-sm-12">
                                    <div class="row">
                                        <div class="container mt_padding_top_45">
                                            <div class="col-sm-6 col-md-6 mt_bottom_5">
                                                <div class="column-inner ">
                                                    <h2 class="custom_heading fadeInLeft mt_custom_subscribe">Subscribe to our newsletter</h2>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6">
                                                <div class="column-inner ">
                                                    <div class="mc_embed_signup animateIn animated fadeInRight" data-animate="fadeInRight">
                                                        <div class="email">
                                                            <form class="subscribe" method="POST">
                                                                <input type="text" placeholder="Email Address" name="mailchimp_email" class="emaddress" data-validate="validate(required, email)">
                                                                <button class="btn-warning rippler rippler-default subscribe" name="submit_mailchimp" type="submit">Subscribe</button>
                                                                <span class="result section-description"></span>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>      
                                    </div>
                                </div>
                            </div>
                        </article>
                    </main>
                </div>
            </div>
        </div>

{% include 'footer.html' %}